/* @import "tailwindcss";

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
  }
} */
@import "tailwindcss";

/* Reset agar layar full */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
  }
}
